#s-938a0422-c9fb-4911-969c-2a7a993af839 > #backgroundBox {
  position: absolute;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Rectangle_1 {
  position: absolute;
  width: 448.8632812500023px;
  min-height: 983.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(112.1521182522028deg, #8BC34A 28.853365522278686%, #FFFFFF 92.24932191788872%);
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Path_1 {
  position: absolute;
  width: 19.207305908203125px;
  height: 12.328323364257812px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Path_2 {
  position: absolute;
  width: 23.530120849609375px;
  height: 9.0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Path_3 {
  position: absolute;
  width: 30.62054443359375px;
  height: 13.0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Path_4 {
  position: absolute;
  width: 21.513275146484375px;
  height: 12.226398468017578px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_1 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Path_5 {
  position: absolute;
  width: 44.63773727416992px;
  height: 30.63180160522461px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_3 {
  position: absolute;
  width: 184.36718750000023px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Image_1 {
  position: absolute;
  width: 134.99999999999977px;
  height: 125.47976878612718px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_2 {
  position: absolute;
  width: 384.5468750000002px;
  min-height: 57.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_4 {
  position: absolute;
  width: 424.4316406250008px;
  min-height: 425.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_4 span#rtr-s-Text_4_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_4 span#rtr-s-Text_4_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_4 span#rtr-s-Text_4_3 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_4 span#rtr-s-Text_4_4 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_4 span#rtr-s-Text_4_5 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_4 span#rtr-s-Text_4_6 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_4 span#rtr-s-Text_4_7 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Image_2 {
  position: absolute;
  width: 147.99999999999912px;
  height: 122.73988439306322px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_5 {
  position: absolute;
  width: 384.5468750000002px;
  min-height: 57.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_6 {
  position: absolute;
  width: 415.0px;
  min-height: 300.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_6 span#rtr-s-Text_6_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_6 span#rtr-s-Text_6_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_6 span#rtr-s-Text_6_3 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_6 span#rtr-s-Text_6_4 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_6 span#rtr-s-Text_6_5 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_6 span#rtr-s-Text_6_6 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Text_6 span#rtr-s-Text_6_7 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Button_1 {
  position: absolute;
  width: 114.00000000000023px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #0A84FF;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Button_1 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-938a0422-c9fb-4911-969c-2a7a993af839 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}